li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
}

.label {
    font-weight: bold;
}

h1 {
    text-align: center;
}
 
h2 {
    text-align: center;
}

form {
    text-align: center;
}

.form-group {
    margin-left: 40%;
    text-align: left;
}

section {
    border: 2px;
    border-radius: 0%;
}

#watchedList {
    padding-right: 5%;
}